html {
    font-family: 'Lato', Helvetica, 'Roboto', sans-serif;
    font-size: 15px;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    min-height: 50vh;
}

hr {
    border: 0;
    border-bottom: 1px solid #eee;
    background: none;
    margin: 3rem
}

/* ~~~~~~~~~~~~ */
/* BASIC STYLES */
/* ~~~~~~~~~~~~ */

a {
    color: #1975ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a * {
    color: inherit !important;
}

* {
    line-height: 1.6em;
    font-weight: 300;
}

strong,
strong * {
    font-weight: 500;
}

p {
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6,
h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-weight: 500;
    margin: 0.5rem 0;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.1rem;
    color: #555;
    font-weight: 600;
}

h6 {
    font-size: 1rem;
    color: #666;
    font-weight: 600;
}

p, ul {
    margin: 1rem 0 1.7rem 0;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 60vh;
}

section {
    margin: 3rem 0;
}

section.section--bordered {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem 0;
    border-top: 1px solid #f0f0f0;
}

article {
    margin-bottom: 3rem;
}

article.article--preview {
    margin: 2rem auto;
}

article.article--preview .article--preview__content {
}

article.article--preview .article--preview__footer {
}

article.article--preview .article--preview__footer .tags__tag {
    margin: 0 1rem 0 0;
}

article.article--preview .article--preview__read-more {
    text-align: right;
}

article.article--preview .article--preview__separator {
    border-bottom: 1px solid #eee;
}

article.article--preview h1 {
    font-size: 1.9rem;
}

.article--preview section {
    margin: 0;
}

article.article--preview header * {
    color: inherit;
}

article section {
    margin: 1rem 0;
}

header.header--big {
    text-align: center;
    padding: 3rem 0 2rem 0;
}

article header * {
    margin: 0;
}

article header p {
    font-size: 1.3rem;
}

article header time {
    color: #666;
}

article footer {
    padding: 3rem 0;
}

code {
    font-size: 0.75em;
    border-radius: 0.2em;
    tab-size: 2;
}

code {
    white-space: nowrap;
}

pre code {
    white-space: pre;
}

code, code * {
    font-family: Menlo, 'Source Code Pro', monospace;
}

blockquote {
    border-left: 0.5rem solid #f0f0f0;
    padding: 1rem 1rem 1rem 2rem;
    margin: 0 0 2rem;
}

blockquote * {
    margin: 0;
    font-style: italic;
    font-size: 1.1em;
    color: #888;
}

*:not(pre) > code {
    color: #454060 !important;
    padding: 0.2em 0.5em;
    background-color: #f3f3f3;
    font-weight: 400;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

pre > code {
    background: #f8f8f8;
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    overflow: auto;
}

.fa {
    width: 1.2em;
    display: inline-block;
    height: 1em;
    text-align: center;
}
/* ~~~~~~~ */
/* BUTTONS */
/* ~~~~~~~ */

.button {
    display: inline-block;
    text-align: center;
    min-width: 4em;
    box-sizing: border-box;
    padding: 0.5em 0.8em;
    margin: auto;
    font-size: 1rem;
    background: transparent;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}

.button--inline {
    display: inline-block;
}

.button[disabled] {
    cursor: default;
    opacity: 0.4;
}

.button:not([disabled]):hover {
    background: #675BC0;
}

.button:not([disabled]):hover,
.button:not([disabled]):hover * {
    text-decoration: none;
    color: #fff;
}

/* ~~~~~~~ */
/* HELPERS */
/* ~~~~~~~ */

.text-lg {
    font-size: 1.4rem;
}

.text-md {
    font-size: 1.0rem;
}

.text-sm {
    font-size: 0.9rem;
}

.subtle {
    opacity: 0.8;
    font-size: 0.9em;
}

.no-margin {
    margin: 0;
}

.no-wrap {
    white-space: nowrap;
}

.padding-top {
    padding-top: 3rem;
}

.padding-bottom {
    padding-bottom: 3rem;
}

.margin-top {
    margin-top: 3rem;
}


/* ~~~~~~ */
/* THEMES */
/* ~~~~~~ */

.dark {
    background: radial-gradient(circle at 50% 50%, #292A26, #1d1e1b 400%)
}

.dark h1, .dark h2, .dark h3 {
    color: #eee;
}

.dark, .dark * {
    color: #ccc;
}

.dark .button:hover {
    color: #333;
    background: #fff;
}

.light {
    background: #f5f5f5;
}

/* ~~~~~~~ */
/* SIDEBAR */
/* ~~~~~~~ */

.docs-sidebar {
    margin-left: 0;
}

.docs-sidebar ul {
    padding: 0;
    margin: 0 0 1.4rem;
}

.docs-sidebar li {
    list-style: none;
}

.docs-sidebar__entry {
    padding: 0.2rem 0;
    display: block;
}

.docs-sidebar__entry--active::after {
    content: "→";
}

.docs-sidebar h2 {
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 0.4rem;
}

/* ~~~~~~ */
/* NAVBAR */
/* ~~~~~~ */

.navbar {
}

body.floating-navbar .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

body.floating-navbar .navbar a {
    opacity: 0.5;
    transition: opacity 200ms;
    color: #fff !important;
}

body.floating-navbar .navbar a:hover {
    color: #fff;
    opacity: 1;
}

.navbar * {
    color: #555;
    font-weight: 400;
}

.navbar a:hover, .navbar a:hover * {
    color: #000;
}

.navbar__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 5rem;
}

.navbar__container * {
    margin: 0;
}

.navbar__title {
    white-space: nowrap;
}

.navbar__title h1 {
    font-size: 1.3rem;
}

.navbar__title:hover {
    text-decoration: none !important;
}

.navbar__icon {
    min-width: 2.9rem;
    width: 2.9rem;
}

.navbar__icon img {
    background: #5b4fa9;
    border-radius: 50%;
    height: 2.0rem;
    width: 2.0rem;
    padding: 3px;
    box-sizing: border-box;
}

body.floating-navbar .navbar__icon img {
    background: none;
}

.navbar__items {
    text-align: right;
    width: 100%;
    white-space: nowrap;
    margin-right: -1rem;
}

.navbar__items li {
    list-style: none;
    display: inline-block;
}

.navbar__items li a {
    padding: 1rem;
}

/* ~~~~~~ */
/* FOOTER */
/* ~~~~~~ */

.footer {
    text-align: center;
    background: linear-gradient(165deg, #6e60cc 0%, #484389 100%);
    overflow: auto;
    padding: 2rem 0;
    align-self: flex-end;
}

.footer * {
    color: rgba(255, 255, 255, 0.6);
}

.footer a:hover, .footer a:hover * {
    color: #fff;
    text-decoration: none;
}

.footer__social a {
    margin: 0 1rem;
    font-size: 1rem;
}

/* ~~~~~~~~ */
/* COMMENTS */
/* ~~~~~~~~ */

.comments {
    background: #f5f5f5;
    padding: 3rem 0;
    margin: 0;
}

/* ~~~~~~~~~~~ */
/* SHARE LINKS */
/* ~~~~~~~~~~~ */

.share {
    border-top: 1px solid #f5f5f5;
    padding: 2rem 0;
    margin: 0;
}

.share-buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button--share {
    text-align: center;
    display: inline-block;
    color: #ffffff;
    outline: none;
    margin: 0.5rem 0;
    padding: 0.3rem 0.1rem;
}

.button--share.twitter {
    color: #55acee;
}

.button--share.twitter:hover {
    background: #55acee;
}

.button--share.google-plus {
    color: #dd4b39;
}

.button--share.google-plus:hover {
    background: #dd4b39;
}

.button--share.facebook {
    color: #3B5998;
}

.button--share.facebook:hover {
    background: #3B5998;
}

.button--share.stumbleupon {
    color: #EB4823;
}

.button--share.stumbleupon:hover {
    background: #EB4823;
}

.button--share.reddit {
    color: #ff5700;
}

.button--share.reddit:hover {
    background: #ff5700;
}

.button--share.linkedin {
    color: #4875B4;
}

.button--share.linkedin:hover {
    background: #4875B4;
}

.button--share.email {
    color: #444444;
}

.button--share.email:hover {
    background: #444444;
}

.button--share:hover {
    color: #fff;
}

.button--share:active {
    color: #e2e2e2;
    outline: none;
}

/* ~~~~ */
/* TAGS */
/* ~~~~ */

.tags {
    margin: 0;
}

a.tags__tag {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 300;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

a.tags__tag:hover {
    text-decoration: none;
    background: #7f62f3;
    color: #fff;
}

.tags__tag:hover {
    opacity: 1;
}

/* ~~~~~~~~~~~~~~~~~~ */
/* TEMPLATE OVERRIDES */
/* ~~~~~~~~~~~~~~~~~~ */

body.template-blog .container {
    max-width: 44rem;
}

body.template-docs .container {
}

/* ~~~~~~~~~~~~ */
/* EDITOR THEME */
/* ~~~~~~~~~~~~ */

.highlight .hll {
    background-color: #ffffcc
}

.highlight .c {
    color: #999988;
    font-style: italic
}

/* Comment */
.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

/* Error */
.highlight .k {
    color: #000000;
    font-weight: bold
}

/* Keyword */
.highlight .o {
    color: #000000;
    font-weight: bold
}

/* Operator */
.highlight .cm {
    color: #999988;
    font-style: italic
}

/* Comment.Multiline */
.highlight .cp {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* Comment.Preproc */
.highlight .c1 {
    color: #999988;
    font-style: italic
}

/* Comment.Single */
.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* Comment.Special */
.highlight .gd {
    color: #000000;
    background-color: #ffdddd
}

/* Generic.Deleted */
.highlight .ge {
    color: #000000;
    font-style: italic
}

/* Generic.Emph */
.highlight .gr {
    color: #aa0000
}

/* Generic.Error */
.highlight .gh {
    color: #999999
}

/* Generic.Heading */
.highlight .gi {
    color: #000000;
    background-color: #ddffdd
}

/* Generic.Inserted */
.highlight .go {
    color: #888888
}

/* Generic.Output */
.highlight .gp {
    color: #555555
}

/* Generic.Prompt */
.highlight .gs {
    font-weight: bold
}

/* Generic.Strong */
.highlight .gu {
    color: #aaaaaa
}

/* Generic.Subheading */
.highlight .gt {
    color: #aa0000
}

/* Generic.Traceback */
.highlight .kc {
    color: #000000;
    font-weight: bold
}

/* Keyword.Constant */
.highlight .kd {
    color: #000000;
    font-weight: bold
}

/* Keyword.Declaration */
.highlight .kn {
    color: #000000;
    font-weight: bold
}

/* Keyword.Namespace */
.highlight .kp {
    color: #000000;
    font-weight: bold
}

/* Keyword.Pseudo */
.highlight .kr {
    color: #000000;
    font-weight: bold
}

/* Keyword.Reserved */
.highlight .kt {
    color: #445588;
    font-weight: bold
}

/* Keyword.Type */
.highlight .m {
    color: #009999
}

/* Literal.Number */
.highlight .s {
    color: #d01040
}

/* Literal.String */
.highlight .na {
    color: #008080
}

/* Name.Attribute */
.highlight .nb {
    color: #0086B3
}

/* Name.Builtin */
.highlight .nc {
    color: #445588;
    font-weight: bold
}

/* Name.Class */
.highlight .no {
    color: #008080
}

/* Name.Constant */
.highlight .nd {
    color: #3c5d5d;
    font-weight: bold
}

/* Name.Decorator */
.highlight .ni {
    color: #800080
}

/* Name.Entity */
.highlight .ne {
    color: #990000;
    font-weight: bold
}

/* Name.Exception */
.highlight .nf {
    color: #990000;
    font-weight: bold
}

/* Name.Function */
.highlight .nl {
    color: #990000;
    font-weight: bold
}

/* Name.Label */
.highlight .nn {
    color: #555555
}

/* Name.Namespace */
.highlight .nt {
    color: #000080
}

/* Name.Tag */
.highlight .nv {
    color: #008080
}

/* Name.Variable */
.highlight .ow {
    color: #000000;
    font-weight: bold
}

/* Operator.Word */
.highlight .w {
    color: #bbbbbb
}

/* Text.Whitespace */
.highlight .mf {
    color: #009999
}

/* Literal.Number.Float */
.highlight .mh {
    color: #009999
}

/* Literal.Number.Hex */
.highlight .mi {
    color: #009999
}

/* Literal.Number.Integer */
.highlight .mo {
    color: #009999
}

/* Literal.Number.Oct */
.highlight .sb {
    color: #d01040
}

/* Literal.String.Backtick */
.highlight .sc {
    color: #d01040
}

/* Literal.String.Char */
.highlight .sd {
    color: #d01040
}

/* Literal.String.Doc */
.highlight .s2 {
    color: #d01040
}

/* Literal.String.Double */
.highlight .se {
    color: #d01040
}

/* Literal.String.Escape */
.highlight .sh {
    color: #d01040
}

/* Literal.String.Heredoc */
.highlight .si {
    color: #d01040
}

/* Literal.String.Interpol */
.highlight .sx {
    color: #d01040
}

/* Literal.String.Other */
.highlight .sr {
    color: #009926
}

/* Literal.String.Regex */
.highlight .s1 {
    color: #d01040
}

/* Literal.String.Single */
.highlight .ss {
    color: #990073
}

/* Literal.String.Symbol */
.highlight .bp {
    color: #999999
}

/* Name.Builtin.Pseudo */
.highlight .vc {
    color: #008080
}

/* Name.Variable.Class */
.highlight .vg {
    color: #008080
}

/* Name.Variable.Global */
.highlight .vi {
    color: #008080
}

/* Name.Variable.Instance */
.highlight .il {
    color: #009999
}

/* Literal.Number.Integer.Long */

/* ~~~~~~~~~~~~~ */
/* MEDIA QUERIES */
/* ~~~~~~~~~~~~~ */

@media only screen and (max-width: 58rem) {
    .docs-sidebar {
        border-bottom: 1px solid #eee;
        padding-bottom: 2rem;
    }

    .docs-sidebar__entry--active::after {
        content: "↓";
    }

    .docs-sidebar li {
        display: inline-block;
    }

    .docs-sidebar__entry {
        margin: 0 1rem
    }
}

@media only screen and (max-width: 33.75rem) {
    .navbar__title {
        display: none;
    }
}

@media only screen and (max-width: 45rem) {
    article.article--preview .article--preview__read-more {
        text-align: left;
    }
}

@media only screen and (min-width: 23rem) {
}

@media only screen and (min-width: 33.75rem) {
}

@media only screen and (min-width: 45rem) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 60rem) {
}
