<aside class="col-3 docs-sidebar">

    {{ $currentNode := . }}
    {{ range .Site.Menus.docs }}
    <h2>{{ .Name }}</h2>

    <ul>
        {{ range .Children }}
        <li>
            {{ if $currentNode.IsMenuCurrent "docs" . }}
            <span class="docs-sidebar__entry docs-sidebar__entry--active">
                {{ .Name }}
            </span>
            {{ else }}
            <a href="{{ .URL }}" class="docs-sidebar__entry">
                {{ .Name }}
            </a>
            {{ end }}
        </li>
        {{ end }}
    </ul>

    {{ end }}
</aside>
<div class="col-1"></div>
