<footer class="footer">
    <section>
        <p class="footer__social">
            {{ if .Site.Params.twitter }}
            <a href="//twitter.com/{{ .Site.Params.twitter }}" target="_blank" title="Twitter">
                Twitter
            </a>
            {{ end }}

            {{ if .Site.Params.github }}
            <a href="//github.com/{{ .Site.Params.github }}" target="_blank" title="GitHub">
                Github
            </a>
            {{ end }}

            {{ if .Site.Params.googlePlus }}
            <a href="//plus.google.com/+{{ .Site.Params.googlePlus }}" target="_blank" title="Google+">
                Google+
            </a>
            {{ end }}

            {{ if .RSSlink }}
            <a href="{{ .RSSlink }}" type="application/rss+xml" target="_blank" title="RSS">
                RSS
            </a>
            {{ end }}
        </p>

        <p>
            &copy; {{.Now.Format "2006"}}
            <a href="{{ .Site.BaseURL }}">{{ .Site.Copyright }}</a>
        </p>
    </section>
</footer>