/* ~~~~~ */
/* LINKS */
/* ~~~~~ */

a {
    color: hsl(251, 85%, 66%);
}

a:hover {
    color: hsl(251, 60%, 55%);
}

/* ~~~~~~~~~ */
/* JUMBOTRON */
/* ~~~~~~~~~ */

.jumbotron {
    background: linear-gradient(165deg, #6e60cc 0%, #484389 100%);
    text-align: center;
    padding: 9rem 0 8rem 0;
    margin-bottom: 8rem;
}

.jumbotron *:not(.button) {
    color: #fff;
    line-height: 1.5em;
}

img.jumbotron__icon {
    max-height: 8rem;
    margin: -2rem auto 3rem;
}

.jumbotron__undie {
    border-bottom: 0.1em solid white;
}

.jumbotron h1 {
    font-size: 2.3rem;
    margin: 0;
}

.jumbotron h2 {
    margin: 0;
    padding-top: 1rem;
    font-size: 1.7rem;
    color: #eee;
}

.jumbotron .button {
    color: #fff;
    border: 1px solid #fff;
    margin: 3rem auto 5rem;
}

.jumbotron .button:hover {
    text-decoration: none;
    background: #fff;
    color: #675BC0;
}

.jumbotron__img-container {
    position: relative;
    height: 0;
    max-width: 46rem;
    margin: auto;
}

.jumbotron__img {
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 0.2rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.2);
}

/* ~~~~~~~~~~~~~ */
/* FEATURES LIST */
/* ~~~~~~~~~~~~~ */

.feature-list {
    max-width: 40rem;
    font-size: 1.2rem;
    margin: 1rem auto;
}

.feature-list ul {
    width: 14rem;
    margin: 0 auto;
}

.feature-list li {
    line-height: 1.9em;
    list-style: circle;
    margin: auto;
    width: auto;
}

/* ~~~~~~~~~~~~~~ */
/* DOWNLOADS PAGE */
/* ~~~~~~~~~~~~~~ */

.platform-download .button {
    margin-top: 2rem;
    width: 10rem;
}

.platform-download__icon {
    background: #ccc;
    width: 10rem;
    height: 10rem;
}

.platform-download__icon::before {
    display: block;
    line-height: 10rem;
    font-size: 4rem !important;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
}

/* ~~~~~~ */
/* IMAGES */
/* ~~~~~~ */

.img--promo {
    width: auto;
    display: inline-block;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    max-height: 12rem;
    margin: 1rem auto;
}

/* ~~~~~~ */
/* COLORS */
/* ~~~~~~ */

.bg-mac {
    background-color: #bbb;
}

.bg-windows {
    background-color: #00bcf2;
}

.bg-linux {
    background-color: #333;
}

/* ~~~~~~~~~~~~~ */
/* PRICING PAGE  */
/* ~~~~~~~~~~~~~ */

.pricing {
    margin-top: 1rem;
}

.pricing__column {
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    position: relative;
    padding-bottom: 5rem;
}

.pricing__column__header {
    padding: 1rem 1.5rem;
    background: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
}

.pricing__column__header h1 {
    font-size: 1.4rem;
}

.pricing__column__body {
    padding: 1.5rem;
}

.pricing__column__body h2 {
    font-size: 1.3rem;
    margin-top: 0;
    padding-bottom: 1rem;
}

.pricing__column__footer {
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.pricing__column__body ul {
    padding-left: 1rem;
    margin: 0;
    display: block;
}

/* ~~~~~~~~~~~~~ */
/* MEDIA QUERIES */
/* ~~~~~~~~~~~~~ */

@media only screen and (min-width: 23rem) {
    .jumbotron {
        margin-bottom: 14rem;
    }
}

@media only screen and (max-width: 33.75rem) {
    .navbar__items {
        margin-right: 0;
    }

    .navbar__items li:nth-child(1) {
        display: none;
    }
}

@media only screen and (min-width: 33.75rem) {
    .img--promo {
        max-height: 12rem;
    }

    .jumbotron {
        margin-bottom: 14rem;
    }
}

@media only screen and (min-width: 45rem) {
    .img--promo {
        max-height: 7rem;
    }

    .jumbotron {
        margin-bottom: 17rem;
    }

    .pricing {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width: 60rem) {
    .img--promo {
        max-height: 10rem;
    }

    .jumbotron {
        margin-bottom: 19rem;
    }
}
