{{ if .Content }}
{{ .Content }}
{{ else }}
<p>
  Version {{ .Slug }} is here!
</p>
{{ end }}

{{ if isset .Params "major" }}
<p><strong>Major</strong></p>
<ul>
  {{ range .Params.major }}
  <li>{{ . }}</li>
  {{ end }}
</ul>
{{ end }}

{{ if isset .Params "fixes" }}
<p><strong>Fixes</strong></p>
<ul>
  {{ range .Params.fixes }}
  <li>{{ . }}</li>
  {{ end }}
</ul>
{{ end }}

{{ if isset .Params "minor" }}
<p><strong>Minor</strong></p>
<ul>
  {{ range .Params.minor }}
  <li>{{ . }}</li>
  {{ end }}
</ul>
{{ end }}

